APP_NAME="The Cosmex"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://thecosmex.com
APP_TIMEZONE=Asia/Karachi

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lahore_aesthetics_traders
DB_USERNAME=root
DB_PASSWORD=

CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

FILESYSTEM_DISK=public

GOOGLE_ANALYTICS_ID=
WHATSAPP_NUMBER=923284333364
SITE_NAME="The Cosmex"
SITE_TAGLINE="Professional Aesthetic Products & Machines"
CONTACT_EMAIL=info@thecosmex.com
CONTACT_PHONE="0328-4333364"

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=info@thecosmex.com
MAIL_FROM_NAME="The Cosmex"

CONTACT_ADDRESS="21-B, G Block, Johar Town, Lahore, Pakistan"
SOCIAL_INSTAGRAM=https://www.instagram.com/thecosmex
SOCIAL_FACEBOOK=https://www.facebook.com/people/The-Cosmex/61566922037220/
SOCIAL_TIKTOK=
